.auth{
    width: 280px;
    margin: 40px auto;
}
.auth-form{
    li{
        margin: 16px 0 24px 0;
    }
    input[type="text"],input[type="email"],input[type="password"]{
        width: 100%;
        background-color: #fff;
    }
    .error{
        color: $error-color;
    }
    .forget-password{
        .forget-password-link{
            float: right;
        }
        label{
            float: left;
        }
    }
}

.alert{
    padding: 8px 0;
    text-align: center;
    &.alert-danger{
        color: $error-color;
    }
    &.alert-success{
        color: $primary-color;
    }
}

.qor-actionbar{
    height: 32px;
    line-height: 32px;
    background-color: #3b3b3b;
    color: #fff;
    font-size: 12px;
    a{
        color: #33c3f0;
        text-decoration: none;
    }
    @at-root #{&}__right{
        float: right;
        > div{
            float: left;
            margin-left: 16px;
        }
    }
    @at-root #{&}__left{
        float: left;
        > div{
            float: left;
            margin-right: 16px;
        }
    }
    @at-root #{&}__info{
        span{
            padding-right: 16px;
        }
    }
    #qor-actionbar__menu-checkbox{
        &:checked{
            & + .qor-actionbar__menu{
                label{
                    background-color: rgba(255, 255, 255, .2);
                }

            }
        }
    }
    @at-root #{&}__menu{
        position: relative;
        &:hover{
            ul {
                position: absolute;
                z-index: 9999;
                top: 32px;
                right: 0;
                min-width: 180px;
                background-color: #fff;
                border-radius: 2px;
                display: block !important;
                box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
                padding: 8px 0;
                li{
                    margin-bottom: 0;
                    a{
                        display: block;
                        font-size: 14px;
                        padding: 8px 16px;
                        color: #000;
                        &:hover{
                            background-color: rgba(0, 0, 0, .1);
                        }
                    }
                }
            }
        }
        label{
            display: inline-block;
            width: 24px;
            height: 24px;
            text-align: center;
            line-height: 24px;
            border-radius: 2em;
            margin-top: 4px;
            cursor: pointer;
            img{
                margin-top: 4px;
            }
            &:hover{
                background-color: rgba(255, 255, 255, .2);
            }
        }
    }
    @at-root #{&}__logo{
        img{
            margin: 5px 0 0;
        }
    }

    @at-root #{&}__module{
        > span{
            display: inline-block;
            vertical-align: middle;
            &.qor-actionbar__module-edit{
                color: #33c3f0;
            }
        }
    }

    @at-root #{&}__module-checkbox{
        display: none !important;
        &, &:after, &:before,
        & *, & *:after, & *:before,
        & + .qor-actionbar__module-button{
            box-sizing: border-box;
            &::selection{
                background: none;
            }
        }
        + .qor-actionbar__module-button{
            outline: 0;
            display: inline-block;
            vertical-align: middle;
            margin: 0 8px;
            width: 34px;
            height: 14px;
            position: relative;
            cursor: pointer;
            background: rgba(255, 255, 255, .3);
            border-radius: 2em;
            padding: 2px;
            transition: all .4s ease;
            user-select: none;
            &:after, &:before{
                position: relative;
                display: block;
                content: "";
                width: 20px;
                height: 20px;
                top: -5px;
            }
            &:active{
                box-shadow: inset 0 0 0 2em #e8eae9;
                &::after{
                    padding-right: .8em;
                }
            }
            &:hover::after {
              will-change: padding;
            }
            &::after{
                left: -5px;
                border-radius: 2em;
                background: #fff;
                transition:
                left .3s cubic-bezier( 0.175, 0.885, 0.320, 1.275 ),
                padding .3s ease, margin .3s ease;
                box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 4px 0 rgba(0,0,0,.08);
            }
            &::before{
                display: none;
            }
        }
        &:checked{
            + .qor-actionbar__module-button{
                background: #b0e3fb;
                &:active{
                    box-shadow: none;
                    &:after{
                        margin-left: -.8em;
                    }
                }
                &:after{
                    left: 50%;
                    background-color: #33c3f0;
                }
            }
        }
    }




}
