@font-face {
    font-family: 'Titillium Web';
    src: url('/fonts/titilliumweb-bold-webfont.eot');
    src: url('/fonts/titilliumweb-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/titilliumweb-bold-webfont.woff2') format('woff2'),
         url('/fonts/titilliumweb-bold-webfont.woff') format('woff'),
         url('/fonts/titilliumweb-bold-webfont.ttf') format('truetype'),
         url('/fonts/titilliumweb-bold-webfont.svg#titillium_webbold') format('svg');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'Titillium Web';
    src: url('/fonts/titilliumweb-light-webfont.eot');
    src: url('/fonts/titilliumweb-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/titilliumweb-light-webfont.woff2') format('woff2'),
         url('/fonts/titilliumweb-light-webfont.woff') format('woff'),
         url('/fonts/titilliumweb-light-webfont.ttf') format('truetype'),
         url('/fonts/titilliumweb-light-webfont.svg#titillium_weblight') format('svg');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'Titillium Web';
    src: url('/fonts/titilliumweb-regular-webfont.eot');
    src: url('/fonts/titilliumweb-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/titilliumweb-regular-webfont.woff2') format('woff2'),
         url('/fonts/titilliumweb-regular-webfont.woff') format('woff'),
         url('/fonts/titilliumweb-regular-webfont.ttf') format('truetype'),
         url('/fonts/titilliumweb-regular-webfont.svg#titillium_webregular') format('svg');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'Titillium Web';
    src: url('/fonts/titilliumweb-semibold-webfont.eot');
    src: url('/fonts/titilliumweb-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/titilliumweb-semibold-webfont.woff2') format('woff2'),
         url('/fonts/titilliumweb-semibold-webfont.woff') format('woff'),
         url('/fonts/titilliumweb-semibold-webfont.ttf') format('truetype'),
         url('/fonts/titilliumweb-semibold-webfont.svg#titillium_websemibold') format('svg');
    font-weight: 600;
    font-style: normal;

}