.header{
    border-bottom: 1px solid $border-color;

    header{
        height: 64px;
    }

    a{
        color: $font-color;
        font-size: 18px;
        height: 64px;
        line-height: 64px;
        padding: 0 16px;
        float: left;
    }

    @at-root #{&}__logo{
        margin-left: 0;
        padding: 0;
        img{
            width: 112px;
            margin-top: 17px;
        }
    }

    @at-root #{&}__func{
        text-align: right;
        a{
            color: $light-grey;
            font-size: 14px;
            width: 33%;
            text-align: center;
            padding: 0;
        }
    }
}