.header{
    border-bottom: 1px solid $border-color;
    clear: both;
    header{
        height: 64px;
    }

    a{
        color: $font-color;
        font-size: 18px;
        height: 64px;
        line-height: 64px;
        padding: 0 16px;
        float: left;
    }

    @at-root #{&}__mobileicon{
        display: none;
    }
    @at-root #{&}__logo{
        margin-left: 0;
        padding: 0;
        a{
            padding-left: 0;
        }
        img{
            width: 112px;
            margin-top: 17px;
        }
    }

    .header__mobilemenu-cart{
        display: none;
    }

    .header__menu-cart{
        img{
            margin-left: 6px;
        }
    }

    @at-root #{&}__func{
        text-align: right;
        margin-left: 0;
        float: right;
        .header__func-account{
            position: relative;
            > span{
                cursor: pointer;
                display: block;
            }
            &:hover{
                ul{
                    display: block !important;
                }
            }
            ul{
                position: absolute;
                background-color: #fff;
                border-radius: 2px;
                top: 64px;
                z-index: 9999;
                box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
                line-height: 1.6;
                padding: 8px 0;
                li{
                    margin-bottom: 0;
                }
                a,span{
                    display: block;
                    float: none;
                    text-align: left;
                    font-size: 14px;
                    padding: 8px 16px;
                }
                a{
                    line-height: 1.6;
                    height: auto;
                    &:hover{
                        background-color: rgba(0, 0, 0, .2);
                    }
                }
            }
        }
        .header__func-account{
            height: 64px;
            line-height: 64px;
        }
        > a,.header__func-account{
            color: $light-grey;
            font-size: 14px;
            text-align: center;
            padding: 0 0 0 15px;
            float: none;
            display: inline-block;
        }
    }
}