header.header{
    padding: 10px 0;
    .logo img{
        width: 112px;
    }
    .header__func{
        text-align: right;
        a{
            color: $light-grey;
            font-size: 14px;
            margin-top: 8px;
        }
    }
    a{
        color: $font-color;
        font-size: 18px;
        margin-left: 32px;
        display: inline-block;
        vertical-align: middle;
    }
}