.banner{
    min-height: 425px;
    width: 100%;
    text-align: center;
    background: url('/images/banner.png') no-repeat center center;
    @at-root #{&}__logo{
        padding-top: 150px;
        margin-left: 232px;
        width: 260px;
        display: block;
    }
    h1{
        color: #fff;
        padding-left: 57px;
        margin-top: -18px;
    }
}

.section__title{
    padding: 64px 0;
    h3{
        text-align: center;
        font-weight: 700;
    }
    p{
        font-size: 18px;
        color: $light-grey;
        text-align: center;
    }
}

.products{
    li:nth-child(3n+1){
        margin-left: 0;
    }
    @at-root #{&}__img{
        border: 1px solid $border-color;
        display: block;
        height: 321px;
        box-sizing: border-box;
        margin-bottom: 12px;
    }
    @at-root #{&}__price{
        float: right;
        font-size: 18px;
    }
    @at-root #{&}__title{
        float: left;
        font-size: 20px;
        color: $dark-grey;
    }
}

.goodness{
    background-color: $silver;
    padding: 0 0 32px 0;
    color: $dark-grey;
    .section__title{
        padding: 32px 0;
    }
    .store{
        background: url('/images/store.png') no-repeat center center;
        height: 260px;
    }
    .newsletter{
        background: url('/images/newsletter.png') no-repeat center center;
        height: 260px;
    }
    a{
        display: block;
        background-color: unquote("rgb(#{$color-white})");
        padding: 8px 0;
        text-align: center;
        font-size: 18px;
        color: $dark-grey;
        margin-top: 125px;
        img{
            width: 7px;
        }
        & + p{
            font-size: 16px;
            padding: 8px 16px;
        }
    }
}