/* homepage banner style */

html,body{
    height: 100%;
}

.page-wrap{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -264px;
}

.banner{
    height: 400px;
    width: 100%;
    text-align: center;
    @at-root #{&}__logo{
        padding-top: 130px;
        margin-left: 232px;
        max-width: 260px;
        display: block;
    }
    h1{
        color: #fff;
        margin-top: 130px;
        &.banner__logo-title{
            margin-top: -18px;
            padding-left: 57px;
        }
    }
    &.banner-column-2{
        text-align: left;
        .column-9{
            padding-top: 130px;
        }
        h1{
            padding-left: 0;
            margin-top: 0;
        }
        .banner__logo{
            padding-top: 15px;
            margin-left: 0;
            padding-top: 120px;
            max-width: 100%;
            display: block;
        }
    }
}

.section__title{
    padding: 64px 0;
    h3{
        text-align: center;
        font-weight: 700;
    }
    p{
        font-size: 18px;
        color: $light-grey;
        text-align: center;
    }
}



/* Products styles */
.products{

    /* products details page featured lists */
    @at-root #{&}__featured{
        border-top: 1px solid $border-color;
        padding-top: 32px;
        #{&}--slider{
            position: relative;
            margin: 32px 0;
        }
        .swiper-button-next{
            right: -50px;
        }
        .swiper-button-prev{
            left: -50px;
        }
        .products__list li{
            margin-right: 16px;
        }
        .products__list--img{
            height: 234px;
            img{
                max-height: 232px;
            }
        }
    }

    /* products details page */
    @at-root #{&}__details{
        margin: 32px auto;
        #{&}--share{
            > a{
                float: left;
                img{
                    margin-right: 8px;
                }
                img,span{
                    display: inline-block;
                    vertical-align: middle;
                }
            }
            > div{
                float: right;
                a{
                    margin-left: 8px;
                }
                a,span{
                    display: inline-block;
                    vertical-align: middle;
                    line-height: 1  ;
                }
            }
        }
    }
    @at-root #{&}__info{
        margin: 32px 0;
        padding: 32px 0 0 0;
        border-top: 1px solid $border-color;
    }
    @at-root #{&}__meta{
        .button{
            width: 100%;
        }
        > ul > li{
            margin-bottom: 32px;
        }
        a{
            color: $dark-grey;
        }
        select{
            display: block;
            @include appearance(none);
            border: 1px solid $border-color;
            background: $silver url('/images/icon-arrow-down.png') no-repeat 96% center;
            background-size: 12px;
            width: 100%;
            margin-bottom: 8px;
            + a{
                text-decoration: underline;
            }
        }
        h1{
            font-weight: 600;
        }
        strong{
            font-size: 18px;
            padding-bottom: 8px;
            display: inline-block;
        }
        #{&}--qty{
            position: relative;
            height: 40px;
            input{
                width: 100%;
                text-align: center;
                height: 40px;
            }
            a{
                position: absolute;
                top: 0;
                bottom: 0;
                border: 1px solid $border-color;
                border-radius: $global-radius;
                background-color: $silver;
                width: 88px;
                line-height: 34px;
                font-size: 24px;
                text-align: center;
                &.add{
                    right: 0;
                }
                &.reduce{
                    left: 0;
                }
            }
        }
        #{&}--color{
            span{
                display: inline-block;
                vertical-align: middle;
                width: 32px;
                height: 32px;
                border-radius: 100%;
                margin-right: 8px;
                border: 1px solid $silver;
                margin-top: 8px;
                &.selected{
                    border: 0;
                    box-shadow: 0 0 0 2px #fff, 0 0 0 4px $dark-grey;
                }
            }
        }
        #{&}--price{
            font-size: 32px;
            color: $primary-color;
        }
    }
    @at-root #{&}__gallery--thumbs{
        margin-top: 16px;
        position: relative;
        .slides li{
            height: 80px;
            width: 80px;
            border: 1px solid #ccc;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            box-sizing: border-box;
            cursor: pointer;
            &.flex-active-slide{
                border: 1px solid $primary-color;
            }
        }

    }
    @at-root #{&}__gallery--top{
        .slides li{
            height: 400px;
            width: 653px;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            box-sizing: border-box;
        }
    }
}

/* footer goodness section */
.goodness{
    background-color: unquote("rgba(#{$color-black},0.05)");
    padding: 0 0 32px 0;
    color: $dark-grey;
    .section__title{
        padding: 32px 0;
    }
    .store{
        background: url('/images/store.png') no-repeat center center;
        height: 260px;
    }
    .newsletter{
        background: url('/images/newsletter.png') no-repeat center center;
        height: 260px;
    }
    a{
        display: block;
        background-color: unquote("rgb(#{$color-white})");
        padding: 8px 0;
        text-align: center;
        font-size: 18px;
        color: $dark-grey;
        margin-top: 125px;
        img{
            width: 7px;
        }
        & + p{
            font-size: 16px;
            padding: 8px 16px;
        }
    }
}

