/* homepage banner style */

html,
body {
    height: 100%;
}

.page-wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
}
.global-messages {
    width: 100%;
    padding: 40px 0;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    background-color: #333;
    color: #fff;
    .light {
        font-weight: 200;
    }
}
.banner {
    height: 400px;
    width: 100%;
    text-align: center;
    .banner__logo {
        padding-top: 130px;
        margin-left: 232px;
        max-width: 260px;
        display: block;
    }
    h1 {
        color: #fff;
        margin-top: 130px;
        &.banner__logo-title {
            margin-top: -18px;
            padding-left: 57px;
        }
    }
    &.banner-column-2 {
        text-align: left;
        .column-9 {
            padding-top: 130px;
        }
        h1 {
            padding-left: 0;
            margin-top: 0;
        }
        .banner__logo {
            padding-top: 15px;
            margin-left: 0;
            padding-top: 120px;
            max-width: 100%;
            display: block;
        }
    }
}

.section__title {
    padding: 64px 0;
    h3 {
        text-align: center;
        font-weight: 700;
    }
    p {
        font-size: 18px;
        color: $light-grey;
        text-align: center;
    }
}

/* products details page featured lists */
.products__featured {
    border-top: 1px solid $border-color;
    padding-top: 32px;
    > h3 {
        font-size: 18px;
        font-weight: 600;
    }
    > p {
        font-size: 14px;
        color: #999;
    }
    .products__featured--slider {
        position: relative;
        margin: 32px 0;
        .products__list--title,
        .products__list--price {
            float: none;
            font-size: 14px;
        }
    }
    .swiper-button-next {
        right: -50px;
    }
    .swiper-button-prev {
        left: -50px;
    }
    .products__list li {
        margin-right: 16px;
    }
    .products__list--img {
        margin-bottom: 0 !important;
    }
}

/* products details page */
.products__details {
    margin: 32px auto;
    .products__details--share {
        a {
            margin-left: 8px;
        }
        a,
        span {
            display: inline-block;
            vertical-align: middle;
            line-height: 1;
        }
    }
}
.products__info {
    margin: 32px 0;
    padding: 32px 0 0 0;
    border-top: 1px solid $border-color;
    h6 {
        font-size: 16px;
        padding-top: 12px;
    }
    P {
        font-size: 14px;
        padding: 8px 0;
    }
}
.products__meta {
    font-size: 14px;
    .button {
        width: 200px;
        background-color: $primary-color;
        line-height: 24px;
        & + a {
            margin-left: 24px;
            img {
                margin-right: 8px;
            }
            img,
            span {
                display: inline-block;
                vertical-align: middle;
            }
        }
    }
    > ul {
        padding-top: 24px;
        > li {
            margin-bottom: 32px;
        }
    }
    a {
        color: $dark-grey;
    }
    h1 {
        font-weight: 300;
        font-size: 32px;
    }
    strong {
        font-size: 14px;
        padding-bottom: 8px;
        display: inline-block;
    }
    .products__meta--divider {
        height: 4px;
        border-bottom: 1px solid $border-color;
        border-top: 1px solid $border-color;
    }
    .products__meta--qty {
        position: relative;
        height: 40px;
        width: 160px;
        input {
            width: 100%;
            text-align: center;
            height: 40px;
            position: static;
            ::-webkit-inner-spin-button,
            ::-webkit-outer-spin-button {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                margin: 0;
                border: 0;
            }
        }
        a {
            position: absolute;
            top: 0;
            bottom: 0;
            border: 1px solid $border-color;
            border-radius: $global-radius;
            background-color: $silver;
            width: 44px;
            line-height: 34px;
            font-size: 24px;
            text-align: center;
            &.add {
                right: 0;
            }
            &.reduce {
                left: 0;
            }
        }
    }
    .products__meta--color {
        span {
            display: inline-block;
            vertical-align: middle;
            width: 32px;
            height: 32px;
            border-radius: 100%;
            margin-right: 8px;
            border: 1px solid $silver;
            margin-top: 8px;
            &.selected {
                border: 0;
                box-shadow: 0 0 0 2px #fff, 0 0 0 4px $dark-grey;
            }
        }
    }
    .products__meta--price {
        font-size: 28px;
        padding-bottom: 12px;
    }
}
.products__gallery--thumbs {
    margin-top: 16px;
    position: relative;
    .slides li {
        height: 80px;
        width: 80px;
        border: 1px solid #ccc;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        box-sizing: border-box;
        cursor: pointer;
        &.flex-active-slide {
            border: 1px solid $primary-color;
        }
    }
}
.products__meta--size {
    margin: 0;
    padding: 0;
    li {
        display: inline-block;
        margin-right: 6px;
        border: 1px solid #ccc;
        min-width: 30px;
        padding: 0 6px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        cursor: pointer;
    }
}
.products__gallery--top {
    .slides li {
        height: 600px;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        box-sizing: border-box;
    }
}

.blog {
    border-bottom: 1px solid #ccc;
    padding: 32px 0;
    p {
        color: #666;
        font-size: 14px;
    }
    .column {
        min-height: 200px;
        &:first-child {
            border-right: 1px solid #ccc;
        }
    }
}

.alert {
    font-size: 16px;
    padding: 8px;
    text-align: center;
    margin: 24px 0;
    color: #fff;
    &.alert-danger {
        background-color: #be0000;
    }
    &.alert-success {
        background-color: #3ca400;
    }
}

.category {
    h2 {
        font-size: 24px;
    }
}

.profile-show {
    padding-bottom: 120px;
    a {
        font-size: 14px;
    }
}
.profile {
    padding: 40px 0 120px 0;
    h2 {
        font-size: 24px;
    }
    h3 {
        font-size: 18px;
    }
    label {
        font-size: 14px;
        font-weight: 400;
    }
    input[type="text"],
    input[type="email"] {
        width: 300px !important;
        padding: 6px !important;
    }
}
