<form id="create-order" method="POST">
	{{with .Address}}
	<p>
		<label for="address.phone">
			{{t "address.phone" "Phone"}}
			<abbr title="Required">*</abbr>
		</label>
		<input type="tel" name="address.phone" value="{{.Phone}}" required>
	</p>

	<p>
		<label for="address.city">
			{{t "address.city" "City"}}
			<abbr title="Required">*</abbr>
		</label>
		<input type="text" name="address.city" value="{{.City}}" required>
	</p>

	<p>
		<label for="address.address1">
			{{t "address.address1" "Adress 1"}}
			<abbr title="Required">*</abbr>
		</label>
		<input type="text" name="address.address1" rows="3" value="{{.Address1}}" required>
	</p>

	<p>
		<label for="address.address2">
			{{t "address.address2" "Address 2"}}
			<abbr title="Required">*</abbr>
		</label>
		<input type="text" name="address.address2" rows="3" value="{{.Address2}}" required>
	</p>
	{{end}}

	<p>
		<label for="delivery-method">
			{{t "checkout.delivery_method" "Delivery method"}}
			<abbr title="Required">*</abbr>
		</label>
		<select id="delivery-method" name="delivery-method" required>
			{{range .DeliveryMethods}}
			<option value="{{.ID}}" data-price="{{.Price}}">{{.Name}} (${{.Price}})</option>
			{{end}}
		</select>
	</p>

	<div id="order_review">
		<table>
			<thead>
				<tr>
					<th>{{t "cart.item.name" "Name"}}</th>
					<th>{{t "cart.item.amount" "Amount"}}</th>
				</tr>
			</thead>
			<tbody>
				{{range cart_list}}
				<tr>
					<td>
						{{.Name}}&nbsp
						<strong>× {{.Quantity}}</strong>
					</td>
					<td>${{.Amount}}</td>
				</tr>
				{{end}}
			</tbody>
			<tfoot>
				<tr>
					<th>{{t "cart.amount" "Amount"}}</th>
					<td>
						<span>${{cart_amount}}</span>
					</td>
				</tr>
				<tr>
					<th>{{t "cart.total" "Total"}}</th>
					<td>
						<strong>
							<span id="cart-total" data-amount="{{cart_amount}}"></span>
						</strong>
					</td>
				</tr>
			</tfoot>
		</table>

		<h4>{{t "cart.checkout.paymentmethods" "Payment Methods"}}</h4>
		<div id="payment">
			<ul class="payment_methods methods">
				<li class="payment_method_cod">
					<input id="payment_method_cod" checked="" type="radio" class="input-radio" name="payment_method" value="0" data-order_button_text="">
					<label for="payment_method_cod">{{t "cart.checkout.paymentmethod.cod" "Cash on Delivery"}}</label>
					<div class="payment_box payment_method_cod" style="display:none;">
						<p>Please send your cheque to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</p>
					</div>
				</li>
			</ul>
			<input type="submit" class="button alt" name="woocommerce_checkout_place_order" id="place_order" value='{{t "checkout.button" "Оформить"}}' data-value='{{t "checkout.button" "Оформить"}}'>
		</div>
	</div>
</form>
