<link rel="stylesheet" media="all" href="{{.AuthURL "/assets/qor_auth.css"}}">

<div class="container qor-auth">
  <div class="qor-auth-box">
    {{$flashes := .Flashes}}
    {{if $flashes}}
      <ul class="errors">
        {{range $flash := $flashes}}
          <li>{{$flash.Message}}</li>
        {{end}}
      </ul>
    {{end}}

    <h1>{{t "auth.sign_in"}}</h1>

    <a class="signup-link" href="{{.AuthURL "register"}}">
      {{ t "auth.links.sign_up" }}
    </a>

    {{if .Auth.GetProvider "password"}}
      <form action="{{.AuthURL "password/login"}}" method="POST">
        <b>Demo Account: dev@getqor.com / testing</b>

        <ul class="auth-form">
          <li>
            <label for="email">{{t "auth.form.email"}}</label>
            <input type="email" id="email" name="login" placeholder="{{t "auth.form.email_placeholder"}}" value="{{.FormValue "login"}}">
          </li>

          <li>
            <label for="password">{{t "auth.form.password"}}</label>
            <a class="forgot-password" href="{{.AuthURL "password/new"}}">{{ t "auth.links.forgot_password" }}</a>
            <input type="password" class="form-control" id="password" name="password" placeholder="{{t "auth.form.password_placeholder"}}">
          </li>

          <li>
            <button type="submit" class="button button__primary">{{t "auth.form.sign_in"}}</button>
          </li>
        </ul>
      </form>
    {{end}}

    
  </div>
</div>
