<main class="container cart-show">
<div class="grid">
  <div class="grid__col is-8">
    <h1>Complete Purchase with Amazon Pay</h1>
    <div id="amazon_addressbook_widget"></div>
    <div id="amazon_wallet_widget"></div>
    <form action="/cart/complete" method="POST">
      <input id="checkout-access-token" type="hidden" value="" name="amazon_address_access_token" />
      <input id="checkout-referenceid" type="hidden" value="" name="amazon_order_reference_id" />
      <button class="button checkout-button__complete">Complete order</button>
    </form>
  </div>

  <div class="grid__col is-4 cart-summary">
    <h2>Order Summary</h2>
    <ul>
      <li>
        <label>Subtotal:</label> <span>${{format_price .Order.Amount}}</span>
      </li>
      <li>
        <label>Delivery:</label> <span>${{format_price .Order.DeliveryFee}}</span>
      </li>
      <li>
        <label>Discount:</label> <span>${{format_price .Order.DiscountValue}}</span>
      </li>
      <li class="total">
        <label>Total:</label> <span>${{format_price .Order.Total}}</span>
      </li>
    </ul>
  </div>
</div>
</main>
