
<style>
    .checkout-success p{
        text-align: center;
    }
    .checkout-success h1{
        font-size: 24px;
        font-weight: 700;
        text-align: center;
    }
    .checkout-success{
        margin: 120px auto;
    }
    .checkout-success__icon{
        color: #33c3f0;
        text-align: center;
        margin-bottom: 30px;
    }
    .checkout-success__icon i{
        font-size: 72px;
    }
</style>
<main class="container checkout-success">
    <div class="grid">
        <div class="grid__col is-12">
            <div class="checkout-success__icon"><i class="material-icons">check_circle</i></div>
            <h1>Thank you for your purchase!</h1>
            <p>You will recive an order confirmation email with details of your order.</p>
        </div>
    </div>
</main>