@import "base/variables";

.qor-bannereditor__bg{
    background-size: cover;
}
.home-banner{
    height: 480px;
    width: 100%;
    padding: 0;
    margin-top: 68px !important;
}

.banner-texts{
    font-size: 14px;
    display: inline-block;
    line-height: 1.6;
}

.banner-title{
    font-size: 28px;
    line-height: 1.4;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .4);
}

.banner-sub-title{
    font-size: 20px;
    line-height: 1.4;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .4);
}

@media #{$mobile-media}{
    .home-banner{
        .qor-bannereditor__draggable{
            width: 90% !important;
        }
        .banner-title{
            font-size:  18px;
            width: 80% !important;
        }
        .qor-bannereditor__draggable{

        }
        .banner-text{
            font-size: 12px;
        }
        .home-banner{
            height: 320px;
        }
    }
}