.home-banner{
    height: 400px;
    width: 100%;
    margin-top: 68px !important;
}

.banner-texts{
    font-size: 14px;
    display: inline-block;
    line-height: 1.6;
}

.banner-title{
    font-size: 28px;
    line-height: 1.4;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .4);
}

.banner-sub-title{
    font-size: 20px;
    line-height: 1.4;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .4);
}