@import "base/variables";

.fullwidth-banner{
    position: relative;
    height: 160px;
    width: 100%;
}

.banner-sub-title{
    font-size: 24px;
}
.banner-texts{
    font-size: 16px;
    display: inline-block;
    line-height: 1.6;
}
.banner-title{
    font-size: 32px;
    font-weight: 400;
    font-family: "Playfair Display", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.col-2-banner{
    width: 100%;
    &::after {
      clear: both;
      content: "";
      display: table;
    }
    .fullwidth-banner{
        width: 50%;
        float: left;
        height: 360px;
        .qor-bannereditor__bg{
            background-size: cover !important;
        }
    }
}

.feature_product--model{
    background-color: #eeeae9;
    padding-top: 60px;
    .banner-title{
        font-style: italic;
        font-size: 42px;
    }
    .button{
        background-color: transparent;
        border:  2px solid #ceb9ab;
        color: #ceb9ab;
        &:hover{
            background-color: rgba(0, 0, 0, .05);
        }
    }
    .fullwidth-banner{
        height: 1200px;
        width: 1100px;
        margin: 0 auto;
    }

}

.model-buy-block{
    text-align: right;
    .banner-text{
        padding-bottom: 16px;
    }
}

/* .qor-bannereditor__bg{
    background-size: cover;
}
.home-banner{
    height: 480px;
    width: 100%;
    padding: 0 !important;
    margin-top: 68px !important;
}
*/

/*
.banner-sub-title{
    font-size: 20px;
    line-height: 1.4;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .4);
}

@media #{$mobile-media}{
    .home-banner{
        height: 300px;
        .button{
            font-size: 16px;
        }
        .qor-bannereditor__draggable{
            position: static !important;
            display: inline-block;
            width: 90% !important;
            padding: 0 24px;
            box-sizing: border-box;
            margin-top: 24px;
        }
        .banner-title{
            font-size:  18px;
        }
        .banner-text{
            font-size: 12px;
        }
    }
} */