<div class="container">
  <div class="row">
    <div class="column column-12 section__title">
      <h2>Profile</h2>
    </div>
  </div>
  <div class="row">
    <div class="column">
      {{range .Result.Flashes}}
        <div class="alert alert-success">{{.}}</div>
      {{end}}
      {{with .Result.CurrentUser}}
        <form action="/cabinet/profile" method="POST">
          <div class="form-group">
            <label for="name">UserName</label>
            <input type="text" name="name" value="{{.Name}}">
            <label for="email">E-Mail</label>
            <input type="email" name="email" value="{{.Email}}">
          </div>

          <div class="form-group">
            <label form="default-billing-address">Default Billing Address</label>
            <select name="default-billing-address">
              {{range .Addresses}}
                <option {{if eq $.Result.CurrentUser.DefaultBillingAddress .ID}}selected{{end}} value="{{.ID}}">{{.Address2}} {{.Address1}} {{.City}}</option>
              {{end}}
            </select>
            <label form="default-shipping-address">Default Shipping Address</label>
            <select name="default-shipping-address">
              {{range .Addresses}}
              <option {{if eq $.Result.CurrentUser.DefaultShippingAddress .ID}}selected{{end}} value="{{.ID}}">{{.Address2}} {{.Address1}} {{.City}}</option>
              {{end}}
            </select>
          </div>

          <div class="form-group">
            <input type="checkbox" name="accept-private" {{if .AcceptPrivate}}checked{{end}} value=true>
            <label for="accept-private">AcceptPrivate</label>
            <input type="checkbox" name="accept-license" {{if .AcceptLicense}}checked{{end}} value=true>
            <label for="accept-license">AcceptLicense</label>
            <input type="checkbox" name="accept-news" {{if .AcceptNews}}checked{{end}} value=true>
            <label for="accept-news">AcceptNews</label>
          </div>

          <button type="submit" class="button button__primary">Save</button>
        </form>
      {{end}}
    </div>
  </div>
  <div class="row">
    <div class="column column-6">
      <h3>Billing Address</h3>
      {{with .Result.DefaultBillingAddress}}
        <form class="form-horizontal" action="/cabinet/profile/billing_address" method="POST">
          <div class="form-group">
            <label for="contact-name">Contact Name</label>
            <input id="contact-name" name="contact-name" type="text" placeholder="contact-name" value="{{.ContactName}}">
          </div>
          <div class="form-group">
            <label for="phone">Phone number</label>
            <input id="phone" name="phone" type="text" placeholder="phone" value="{{.Phone}}">
          </div>
          <div class="form-group">
            <label for="city">City</label>
            <input id="city" name="city" type="text" placeholder="city" value="{{.City}}">
          </div>
          <div class="form-group">
            <label for="address1">Address #1</label>
            <input id="address1" name="address1" type="text" placeholder="address1" value="{{.Address1}}">
          </div>
          <div class="form-group">
            <label for="address2">Address #2</label>
            <input id="address2" name="address2" type="text" placeholder="address2" value="{{.Address2}}">
          </div>
          <button type="submit" class="button button__primary">Save</button>
        </form>
      {{end}}
    </div>

    <div class="column column-6">
      <h3>Shipping Address</h3>
      {{with .Result.DefaultShippingAddress}}
        <form class="form-horizontal" action="/cabinet/profile/shipping_address" method="POST">
          <div class="form-group">
            <label for="contact-name">Contact Name</label>
            <input id="contact-name" name="contact-name" type="text" placeholder="contact-name" value="{{.ContactName}}">
          </div>
          <div class="form-group">
            <label for="phone">Phone number</label>
            <input id="phone" name="phone" type="text" placeholder="phone" value="{{.Phone}}">
          </div>
          <div class="form-group">
            <label for="city">City</label>
            <input id="city" name="city" type="text" placeholder="city" value="{{.City}}">
          </div>
          <div class="form-group">
            <label for="address1">Address #1</label>
            <input id="address1" name="address1" type="text" placeholder="address1" value="{{.Address1}}">
          </div>
          <div class="form-group">
            <label for="address2">Address #2</label>
            <input id="address2" name="address2" type="text" placeholder="address2" value="{{.Address2}}">
          </div>
          <button type="submit" class="button button__primary">Save</button>
        </form>
      {{end}}
    </div>
  </div>
</div>
