{{with .Setting }}
  <div class="banner" style="background:url('{{.BackgroundImage}}') no-repeat center center">
    <div class="container">
      <div class="grid">
        <div class="grid__col is-12">
          {{if .Logo.URL}}
            <img src="{{.Logo}}" class="banner__logo" />
          {{end}}
          <h1 {{if .Logo.URL}}class="banner__logo-title"{{end}}>{{.Title}}</h1>
          <div><a href="{{.Link}}" class="button button__primary">{{.ButtonTitle}}</a></div>
        </div>
      </div>
    </div>
  </div>
{{end}}
