<div style="width: 100%; height: 150px; background-color: grey">
  Hello, {{.CurrentUser}}
  <h1>{{.Title}}</h1>
  <h2>{{.SubTitle}}</h2>
  <button data-url="/admin/widget_instances/1/edit" class="js-widget-button">Edit Widget</button>
</div>

