<script type="text/javascript">
  window.closeWidgetEditBox = function() {
    $("iframe").css({ position : "fixed", width : "1", height: "1" });
  };

  $(document).ready(function(){
    qorWidget = {
      init : function() {
        this.bindingEvents();
        this.initStatus();
      },

      bindingEvents : function() {
        $(".js-widget-button").click(this.openEditBox);
      },

      initStatus : function() {
      },

      openEditBox : function() {
        $("iframe").css({ position : "fixed", width : "100%", height: "100000px", "top" : 0, "left" : 0, "z-index" : 999, "background-color" : "rgba(0, 0, 0, 0.5)" })
      }
    };
    qorWidget.init();
  });
</script>

<iframe src="/admin/widget_instances/frontend-edit" width="1" height="1" style="background-color:transparent;border: none;">
</iframe>

<div style="width: 100%; height: 150px; background-color: grey">
  Hello, {{.CurrentUser}}
  <h1>{{.Title}}</h1>
  <h2>{{.SubTitle}}</h2>
  <button data-url="/admin/widget_instances/1/edit" class="js-widget-button">Edit Widget</button>
</div>

