{{with .Setting }}

  <div class="banner banner-column-2" style="background:url('{{.BackgroundImage}}') no-repeat">
    <div class="container">
      <div class="grid">
        <div class="grid__col is-3">
          <img src="{{.Logo}}" class="banner__logo" />
        </div>

        <div class="grid__col is-9">
          <h1>{{.Title}}</h1>
          <div><a href="{{.Link}}" class="button button__primary">{{.ButtonTitle}}</a></div>
        </div>
      </div>
    </div>
  </div>
{{end}}
