<div class="flexslider qor-slider">
  <ul class="slides">
    {{range $slideImage := .Setting.SlideImages}}
      <li>
        <div class="qor-slider__texts">
          <div class="container">
            <h1 class="font_montserrat qor-slider__title animated fadeInDown">{{$slideImage.Title}}</h1>
            <h2 class="qor-slider__subtitle animated fadeInDown">{{$slideImage.SubTitle}}</h2>
            <a class="qor-slider__button" href="{{$slideImage.Link}}">{{$slideImage.Button}}</a>
          </div>
        </div>
        <img src="{{$slideImage.Image}}" />
      </li>
    {{end}}
  </ul>
</div>
<link type="text/css" rel="stylesheet" href="/vendors/flexslider.css" />
<script src="/vendors/jquery.flexslider-min.js"></script>
<script>
  $(function(){
    $('.flexslider').flexslider({
      animation: 'slide',
      touch: true,
      directionNav: false,
      smoothHeight: true
    });
  })
</script>
