<div class="flexslider qor-slider">
  <ul class="slides">
    {{range $slideImage := .Setting.SlideImages}}
      <li>
        <div class="qor-slider__text"><p class="container">{{$slideImage.Title}}</p></div>
        <img src="{{$slideImage.Image}}" />
      </li>
    {{end}}
  </ul>
</div>
<script>
    $(function(){
        $('.flexslider').flexslider({
            animation: 'slide',
            touch: true,
            directionNav: false
        });
    })
</script>
