<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato|Playfair+Display|Raleway" />
<link rel="stylesheet" href="/dist/qor.css" />
<link rel="stylesheet" href="/dist/home_banner.css" />
<h1 class="banner-title" style="color: {{.Color}};">{{.Text}}</h1>
