<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato|Playfair+Display|Raleway" />
<link rel="stylesheet" href="/dist/qor.css" />
<link rel="stylesheet" href="/dist/home_banner.css" />
<div class="model-buy-block">
    <h2 class="banner-sub-title">{{.ProductName}}</h2>
    <p class="banner-text">{{.Price}}</p>
    <a class="button button__primary banner-button" href="{{.Link}}">{{.ButtonName}}</a>
</div>