<div class="container profile-show">
  {{range .Flashes}}
    <div class="alert alert-success">{{.}}</div>
  {{end}}

  <div class="grid">
    <div class="grid__col is-12">
      <h2>Profile</h2>
      <a href="/account/profile">Edit Profile Settings</a>
    </div>
  </div>
  <div class="grid">
    <div class="grid__col is-6">
      <form action="/account/add_user_credit" method="POST">
        <input type="number" min="0.00" max="1000000.00" step="0.01" name="money" placeholder="Amount">
        <button type="submit" class="button button__primary">Add Cash</button>
      </form>
    </div>
  </div>

  {{if len .Orders}}
  <div class="grid">
    <div class="grid__col is-12">
      <h3>Orders</h3>
      <ul>
        {{range .Orders}}
          <li>
            <span>{{.State}}</span>
            {{range .OrderItems}}
              <span>{{.SizeVariation.ColorVariation.Product.Name}}</span>
              <span>|</span>
              <span>{{.SizeVariation.ColorVariation.Color.Name}}</span>
              <span>|</span>
              <span>{{.SizeVariation.Size.Name}}</span>
              <span>|</span>
              <span>{{.Quantity}}</span>
              <span>|</span>
              <span>{{.SizeVariation.ColorVariation.Product.Price}}</span>
            {{end}}
            <span>{{.PaymentAmount}}</span>
          </li>
        {{end}}
      </ul>
    </div>
  </div>
  {{end}}


</div>
