<div class="container">
  <div class="row">
    <h2>Cabinet</h2>
  </div>
  <div class="row">
    Billing Address
    <form id="billing-address">
      <input name="contactname" type="text" placeholder="contactname">
      <input name="phone" type="text" placeholder="phone">
      <input name="city" type="text" placeholder="city">
      <input name="address1" type="text" placeholder="address1">
      <input name="address2" type="text" placeholder="address2">
      <button type="submit">Save</button>
    </form>
  </div>
  <div class="row">
    Shipping Address
    <form id="shipping-address">
      <input name="contactname" type="text" placeholder="contactname">
      <input name="phone" type="text" placeholder="phone">
      <input name="city" type="text" placeholder="city">
      <input name="address1" type="text" placeholder="address1">
      <input name="address2" type="text" placeholder="address2">
      <button type="submit">Save</button>
    </form>
  </div>
</div>
