{{with .Result}}
  <div class="container">
    <div class="row">
      Cart Page
    </div>
    <div class="row">
      <div class="column">
        <ul>
          {{range .showCartItems}}
            <li>
              <a href="/cart/"
              <img src="{{.MainImageURL}}" width="100">

              <div>
                <span>{{.ProductName}}</span>
                <span>{{.ColorName}}</span>
                <span>{{.SizeName}}</span>
              </div>
              <div>
                <span>{{.Price}}</span>
                <span>*</span>
                <span>{{.Quantity}}</span>
                <span>=</span>
                <span>{{.Amount}}</span>
              </div>
            </li>
          {{end}}
        </ul>
        <div>
          Payment Amount: {{.cartAmount}}
        </div>
      </div>
      <h2>
        <a href="/cart/checkout">Checkout</a>
      </h2>
    </div>
  </div>
{{end}}
