{{with .Result}}
  <div class="container">
    <div class="row">
      Cart Page
    </div>
    <div class="row">
      <div class="column">
        <ul>
          {{range .SizeVariations}}
            <li>
              <img src="{{.ColorVariation.MainImageURL}}" width="100">

              <div>
                <span>{{.ColorVariation.Product.Name}}</span>
                <span>{{.ColorVariation.Color.Name}}</span>
              </div>
              <div>
                <span>{{.ColorVariation.Product.Price}}</span>
                <span>*</span>
              </div>
            </li>
          {{end}}
        </ul>
        <div>
          Payment Amount: *
        </div>
      </div>
    </div>
  </div>
{{end}}
