<div class="container category">
  <div class="grid">
    <div class="grid__col is-12">
      <h2>{{ .CategoryName }}</h2>
    </div>
  </div>

  <ul class="grid products__list">
    {{range .Products}}
      <li class="grid__col is-3">
        <a href="{{.DefaultPath}}" class="products__list--img"><img src="{{.MainImageURL}}" alt="" /></a>
        <a class="products__list--title" href="{{.DefaultPath}}">{{.Name}}</a>
        <p class="products__list--price" href="{{.DefaultPath}}"><span class="item_price">${{.Price}}</span></p>
      </li>
    {{end}}
  </ul>
  <link type="text/css" rel="stylesheet" href="/dist/home_products.css" />
</div>