{{define "footer"}}
<footer class="footer">
  <div class="container">

    <div class="row">

      <div class="column column-8">
        <h4>CONNECT</h4>
        <div class="society">
            <a href="#"><img src="/images/twitter.png" /></a>
            <a href="#"><img src="/images/facebook.png" /></a>
            <a href="#"><img src="/images/gplus.png" /></a>
            <a href="#"><img src="/images/youtube.png" /></a>
        </div>
        <p>QOR is Open Source software brought to you by <a href="https://theplant.jp/">The Plant</a> under an MIT license.</p>
        <p>The name “QOR” is a trademark of The Plant and <a href="https://theplant.jp/">subject to trademark restrictions</a>.</p>
      </div>

      <div class="column column-4">
        <h4>SUPPORT & INFO</h4>

        <ul>
            <li><a href="#">FAQs</a></li>
            <li><a href="#">Size Guide</a></li>
            <li><a href="#">Shipping</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms of Use</a></li>
            <li><a href="#">Press</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Blog</a></li>
        </ul>

    </div>
  </div>
</footer>

<script src="/public/dist/vendors.js"></script>
<script src="/public/dist/app.js"></script>
</body>
</html>
{{end}}
