{{define "footer"}}
    <div class="cards text-center">
      <img src="/images/cards.jpg" alt="" />
    </div>
    <div class="copyright text-center">
      <p>© 2016 Qor Demo Shop Site</p>
    </div>
  </div>
</div>
<script src="/public/dev/vendors.bundle.js"></script>
<script src="/public/dev/app.js"></script>
</body>
</html>
{{end}}
