{{define "header"}}
<!doctype html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  {{.SeoTag}}
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="keywords" content="" />
  <link rel="stylesheet" media="all" href="/public/dist/qor.css">
  <script src="/public/vendors/jquery.js"></script>
</head>
<body>

  <div class="header">
    <header class="container">
      <div class="row">
        <input type="checkbox" id="header-menustate" class="header__menustate" style="display: none" />
        <label class="header__mobileicon" for="header-menustate">
          <i class="material-icons">&#xE3C7;</i>
        </label>
        <div class="column column-2 header__logo">
          <a href="/" class="logo"><img src="/images/logo.png" /></a>
        </div>
        <div class="header__mobilemenu">
          <div class="column column-7 header__menu">
            <a href="#">APPAREL</a>
            <a href="#">STATIONERY</a>
            <a href="#">ACCESSORIES</a>
          </div>
          <div class="column column-3 header__func">
            <a href="#">HELP</a>
            <a href="#">SIGN IN</a>
            <a href="#" class="header__menu--cart"><img src="/images/icon-cart.png" width="16px" /></a>
          </div>
        </div>
      </div>

    </header>
  </div>

{{end}}
