{{define "header"}}
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
{{.SeoTag}}
<link href="/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/js/jquery.min.js"></script>
<!-- Custom Theme files -->
<link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Eshop Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfont-->
<!-- for bootstrap working -->
	<script type="text/javascript" src="/js/bootstrap-3.1.1.min.js"></script>
<!-- //for bootstrap working -->
<!-- cart -->
	<script src="/js/simpleCart.min.js"> </script>
<!-- cart -->
<link rel="stylesheet" href="/css/flexslider.css" type="text/css" media="screen" />
{{.WidgetTag}}
</head>
<body>
  <!-- header-section-starts -->
  <div class="header">
    <div class="header-top-strip">
      <div class="container">
        <div class="header-top-left">
          <ul>
            <li><a href="/"><span class="glyphicon glyphicon-home"> </span></a></li>
          </ul>
        </div>
        <div class="header-right">
          <div class="cart box_1">
            <a href="checkout.html">
              <h3><img src="/images/bag.png" alt=""></h3>
            </a>
            <p><a href="javascript:;" class="simpleCart_empty">Empty cart</a></p>
            <div class="clearfix"> </div>
          </div>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>
  <!-- header-section-ends -->
  <div class="banner-top">
	<div class="container">
	  <nav class="navbar navbar-default" role="navigation">
	    <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="logo">
            <h1><a href="/">QOR Demo Shop</a></h1>
          </div>
	    </div>
      </nav>
    </div>
  </div>
{{end}}
