{{define "header"}}
<!doctype html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  {{.SeoTag}}
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="keywords" content="" />
</head>
<body>

  <header class="container header">
    <div class="row">
      <div class="header__menu column column-8">
        <a href="/" class="logo"><img src="/images/logo.png" /></a>
        <a href="#">APPAREL</a>
        <a href="#">STATIONERY</a>
        <a href="#">ACCESSORIES</a>
      </div>
      <div class="header__func column column-4">
        <a href="#">HELP</a>
        <a href="#">SIGN IN</a>
        <a href="#">CART<img src="/images/icon-cart.png" width="16px" /></a>
      </div>
    </div>

  </header>

{{end}}
