<!DOCTYPE html>
<html>
<head>
{{.seoTag}}
</head>
<body>

<h1>{{t "product_page.all_product" "All Products" }}</h1>
<div class="products">
  {{range .products}}
    <div>
      <a href="/products/{{.ID}}">{{.Name}}</a>
    </div>
  {{end}}
</div>

</body>
</html>
