<!DOCTYPE html>
<html>
<head>
{{.seoTag}}

{{renderInlineEditAssets}}

</head>
<body>

<h1>{{t "product_page.all_product" "All Products" }}</h1>

<div class="products">
  {{range .products}}
    <div>
      <a href="/products/{{.ID}}">{{.Name}}</a>
    </div>
  {{end}}
</div>

<p>
  {{ t "product_page.long_text" "ラコステは「LIFE IS A BEAUTIFUL SPORT (人生とは美しいスポーツ）」をテーマにフレンチシックなアイテムを展開しております。メールマガジンでは、新着アイテム、特別割引キャンペーン、限定ストアイベントへの招待状などを、いち早くお届けいたします。"  }}
</p>

{{.microSearch}}
{{.microContact}}

</body>
</html>
