<div class="qor-page__body">
  {{$order := new_resource_context "Order"}}
  <div class="qor-section">
    <div class="qor-section__header">
      <h4 class="qor-section-title">{{t "New Orders"}}</h4>
    </div>
    <div class="qor-section__body qor-table-container">
      {{$order.Render "index/table" $order.FindMany}}
    </div>
  </div>

  <div class="qor-section">
    <div class="qor-section__header">
      <h4 class="qor-section-title">{{t "Reports"}}</h4>
    </div>
    <div class="qor-section__body mdl-grid">
      <div class="mdl-cell mdl-cell--6-col">
        <canvas id="orders_report"></canvas>
      </div>

      <div class="mdl-cell mdl-cell--6-col">
        <canvas id="users_report"></canvas>
      </div>
    </div>
  </div>

  <script src="/javascripts/Chart.min.js"></script>
  <script>
    var dateLabel ={{last_week_label}};
    var orders_data = {
      labels: dateLabel,
      datasets: [
      {
        label: "Orders Report",
        fillColor: "rgba(151,187,205,0.2)",
        strokeColor: "rgba(151,187,205,1)",
        pointColor: "rgba(151,187,205,1)",
        pointStrokeColor: "#fff",
        pointHighlightFill: "#fff",
        pointHighlightStroke: "rgba(151,187,205,1)",
        data: {{last_week_order_data}}
      }
      ]
    };

    var users_data = {
      labels: dateLabel,
      datasets: [
      {
        label: "Users Report",
        fillColor: "rgba(151,187,205,0.2)",
        strokeColor: "rgba(151,187,205,1)",
        pointColor: "rgba(151,187,205,1)",
        pointStrokeColor: "#fff",
        pointHighlightFill: "#fff",
        pointHighlightStroke: "rgba(151,187,205,1)",
        data: {{last_week_user_data}}
      }
      ]
    };

    Chart.defaults.global.responsive = true;

    var orders_context = document.getElementById("orders_report").getContext("2d");
    new Chart(orders_context).Line(orders_data, "");

    var users_context = document.getElementById("users_report").getContext("2d");
    new Chart(users_context).Bar(users_data, "");
  </script>
</div>
